@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
header .name {
  font-family: 'Inconsolata', monospace;
}

.post img {
  width: 100%;
}

header .navitem {
  text-transform: uppercase;
  text-decoration: none;
  color: #212121;
  opacity: .7;
  padding: 8px;
  transition: color .2s ease-in-out, background .2s ease-in-out;
}
header .navitem:hover {
  background: rgba(0,0,0,.2);
  color: #fff;
}

header .navitem#selected {
  opacity: 1;
  font-weight: bold;
}

.content {
  max-width: 860px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.postshowcase {
  text-align: center;
}

.postcard {
  max-width: 300px;
  text-align: center;
  display: inline-block;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.center {
  text-align: center;
}

.postcard img {
  width: 292px;
  height: 292px;
  margin-bottom: 16px;
}

@media screen and (max-width: 320px)  {
  .postcard img {
    width: 128px;
    height: 128px;
  }
}
