@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');
body{
  font: 15px/1.5 Montserrat;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  text-align: center;
}

/* LOGO */
.logo {
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
}

.logo span {
  font-weight: 800;
}

/* Toolbar */
.toolbar {
  background: #313454;
  display: block;
  color: #fff;
  border-bottom: #e84545 3px solid;
  padding: 16px 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Global */
.container{
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

section {
  margin-top: 56px;
}

h3{
  color: #2d3033;
}

p{
  color: #6c7279;
}

/* Button */
.button {
    text-decoration: none;
    color: #fff;
    padding: 24px 44px;
    border-radius: 100px;
    display: inline-block;
    margin: 16px;
    transition: all 0.5s;
    font-weight: bold;
    text-transform: uppercase;
    background: #e84545;
    color: #fff;
}

.button:hover {
    background: #fff;
    color: #e84545;
}

/* Showcase */
#showcase{
  min-height:400px;
  background: url('../img/bg.jpg') no-repeat 0 -400px;
  color: #ffffff;
  display: flex;
}

#showcase h1{
  font-size:50px;
  margin-bottom:10px;
  font-weight: normal;
  font-style: italic;
  padding: 10px;

}

#showcase .container {
  align-self: center;
}


/* Profile */
#profile .pbox{
  max-width: 600px;
  margin: 0 auto;
}

#profile .pbox img{
  width: 128px;
}

#profile .pbox p {
  margin: 0 16px;
}

/* Boxes */
#boxes .box{
  display: inline-block;
  width: 33%;
}

#boxes .box img{
  width: 88px;
}

/* Socials */
#socials .sbox{
  padding: 0px 12px;
  display: inline;
}

#socials .sbox img{
  width: 32px;
}

/* Footer */
footer{
  margin-top: 32px;
  padding: 16px;
  color:#ffffff;
  background-color:#313454;
}

@media screen and (max-width: 900px) {
    #boxes .box {
        width: 100%;
    }
}
